.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-rows: 120px repeat(5, 80px);
  grid-template-columns: repeat(4, 100px);
  background-color: rgb(130, 130, 219);
  border-radius: 25px;
  border: 20px solid rgb(130, 130, 219);
}

.display {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
  grid-column: span 4;
  background-color: rgb(184, 184, 184);
  border-radius: 5px;
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 460%;
  margin-bottom: 10px;
}

.clear,
.return,
.negative {
  background-color: bisque;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 800;
  border-radius: 20px;
  border: 2px solid black;
}

button:hover {
  cursor: grab;
}

.operator {
  background-color: orange;
}

.number {
}

#zero {
  grid-column: span 2;
}

.equal {
  background-color: lightcyan;
}

@media (width<500px) {
  .grid-container {
    grid-template-rows: 80px repeat(5, 50px);
    grid-template-columns: repeat(4, 60px);
  }

  .display {
    font-size: 270%;
  }

  button {
    font-size: 150%;
  }
}
